<h1>Create an account!</h1>

<%= form_for :user do |f| %>
  Name: <%= f.text_field :name %><br>
  Password: <%= f.password_field :password %><br>
  Please confirm password: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>
<% end %>